# =========================
# DJANGO
# =========================
SECRET_KEY=
DEBUG=True

# =========================
# DATABASE
# =========================
DB_NAME=phone_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Nếu dùng Cloud (TiDB / MySQL SSL)
DB_SSL_CA=

# =========================
# EMAIL
# =========================
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
